POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todos
# TODOS_DB_DSN is used by containers.
TODOS_DB_DSN='postgres://todos:pa55word@db/todos?sslmode=disable'
# TODOS_DB_DSN_LOCAL is used by local program without using containers.
TODOS_DB_DSN_LOCAL='postgres://todos:pa55word@localhost/todos?sslmode=disable'
