POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=todos
TODOS_APP_DB_DSN='postgres://todos:pa55word@db/todos?sslmode=disable'
TODOS_APP_DB_DSN_LOCAL='postgres://todos:pa55word@localhost/todos?sslmode=disable'



